@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

body {
  color: #151515;
  font-size: 24px;
  line-height: 32px;
  font-family: "Founders Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (max-width: 768px) {
    body {
      font-size: 16px;
      line-height: 24px; } }

h1,
.h1 {
  font-size: 72px;
  line-height: 48px; }

h2,
.h2 {
  font-size: 48px;
  line-height: 48px; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 400; }

@font-face {
  font-family: "Founders Grotesk Light";
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-Light.eot");
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Light.woff2") format("woff2"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Light.woff") format("woff"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Light.ttf") format("truetype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Light.svg#FoundersGrotesk-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-Medium.eot");
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Medium.woff2") format("woff2"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Medium.woff") format("woff"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Medium.ttf") format("truetype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Medium.svg#FoundersGrotesk-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-Bold.eot");
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Bold.woff2") format("woff2"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Bold.woff") format("woff"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Bold.ttf") format("truetype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Bold.svg#FoundersGrotesk-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Founders Grotesk Italics";
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-SemiboldItalic.eot");
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-SemiboldItalic.woff2") format("woff2"), url("../fonts/FoundersGrotesk/FoundersGrotesk-SemiboldItalic.woff") format("woff"), url("../fonts/FoundersGrotesk/FoundersGrotesk-SemiboldItalic.ttf") format("truetype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-SemiboldItalic.svg#FoundersGrotesk-SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-BoldItalic.eot");
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-BoldItalic.woff2") format("woff2"), url("../fonts/FoundersGrotesk/FoundersGrotesk-BoldItalic.woff") format("woff"), url("../fonts/FoundersGrotesk/FoundersGrotesk-BoldItalic.ttf") format("truetype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-BoldItalic.svg#FoundersGrotesk-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-Regular.eot");
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Regular.woff2") format("woff2"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Regular.woff") format("woff"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Regular.ttf") format("truetype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Regular.svg#FoundersGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-Semibold.eot");
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Semibold.woff2") format("woff2"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Semibold.woff") format("woff"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Semibold.ttf") format("truetype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-Semibold.svg#FoundersGrotesk-Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-RegularItalic.eot");
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-RegularItalic.woff2") format("woff2"), url("../fonts/FoundersGrotesk/FoundersGrotesk-RegularItalic.woff") format("woff"), url("../fonts/FoundersGrotesk/FoundersGrotesk-RegularItalic.ttf") format("truetype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-RegularItalic.svg#FoundersGrotesk-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-MediumItalic.eot");
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-MediumItalic.woff2") format("woff2"), url("../fonts/FoundersGrotesk/FoundersGrotesk-MediumItalic.woff") format("woff"), url("../fonts/FoundersGrotesk/FoundersGrotesk-MediumItalic.ttf") format("truetype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-MediumItalic.svg#FoundersGrotesk-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-LightItalic.eot");
  src: url("../fonts/FoundersGrotesk/FoundersGrotesk-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-LightItalic.woff2") format("woff2"), url("../fonts/FoundersGrotesk/FoundersGrotesk-LightItalic.woff") format("woff"), url("../fonts/FoundersGrotesk/FoundersGrotesk-LightItalic.ttf") format("truetype"), url("../fonts/FoundersGrotesk/FoundersGrotesk-LightItalic.svg#FoundersGrotesk-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "MIUMIU";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Miumiu/MIUMIUHEAVY.woff") format("woff"); }

@font-face {
  src: url("../fonts/MixalGX/MixalGX.ttf");
  font-family: "MixalGX";
  font-style: normal; }

@font-face {
  font-family: "Integral Regular";
  src: url("../fonts/integral-cf/IntegralCF-Regular.woff2"); }

@font-face {
  font-family: "Ogg Roman";
  src: url("../fonts/ogg/Ogg Roman.woff2"); }

@font-face {
  font-family: "Raleway Variable";
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf"); }

* {
  box-sizing: border-box; }

body {
  overflow-x: hidden; }
  body.cursor-hidden,
  body.cursor-hidden * {
    cursor: none !important; }
  body.loading {
    overflow-y: hidden; }
    body.loading .loader {
      display: initial;
      background: #457b9d;
      height: 100vh;
      width: 100%; }
      body.loading .loader .hourglass {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        height: 100px;
        width: 50px;
        background: #edf2f4;
        -webkit-animation: 5s glass infinite ease-in;
        -moz-animation: 5s glass infinite ease-in;
        -o-animation: 5s glass infinite ease-in;
        -ms-animation: 5s glass infinite ease-in;
        animation: 5s glass infinite ease-in; }
      body.loading .loader .hourglass:before,
      body.loading .loader .hourglass:after {
        content: ""; }
      body.loading .loader .hourglass:after {
        position: absolute;
        top: 40px;
        left: -5px;
        width: 0;
        height: 0;
        border-width: 30px;
        border-style: solid;
        border-color: transparent #457b9d;
        margin: -20px 0 0; }
      body.loading .loader .hourglass:before {
        position: absolute;
        bottom: 50%;
        left: 0;
        right: 0;
        height: 50%;
        background: #ef233c;
        -webkit-animation: 5s sand infinite ease-in;
        -moz-animation: 5s sand infinite ease-in;
        -o-animation: 5s sand infinite ease-in;
        -ms-animation: 5s sand infinite ease-in;
        animation: 5s sand infinite ease-in;
        -webkit-transform-origin: bottom;
        -moz-transform-origin: bottom;
        -o-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom; }
      body.loading .loader .hourglass .sand {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
        background: #ef233c;
        -webkit-animation: 5s bottomsand infinite ease-in;
        -moz-animation: 5s bottomsand infinite ease-in;
        -o-animation: 5s bottomsand infinite ease-in;
        -ms-animation: 5s bottomsand infinite ease-in;
        animation: 5s bottomsand infinite ease-in;
        -webkit-transform-origin: bottom;
        -moz-transform-origin: bottom;
        -o-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom; }
      body.loading .loader .hourglass .stream {
        position: absolute;
        left: 49%;
        right: 49%;
        top: 50%;
        bottom: 0;
        background: #ef233c; }

@-moz-keyframes glass {
  0%,
  80% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); } }

@-webkit-keyframes glass {
  0%,
  80% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); } }

@-o-keyframes glass {
  0%,
  80% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); } }

@keyframes glass {
  0%,
  80% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); } }

@-moz-keyframes sand {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  80%,
  100% {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); } }

@-webkit-keyframes sand {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  80%,
  100% {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); } }

@-o-keyframes sand {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  80%,
  100% {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); } }

@keyframes sand {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  80%,
  100% {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); } }

@-moz-keyframes bottomsand {
  0% {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  80%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes bottomsand {
  0% {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  80%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@-o-keyframes bottomsand {
  0% {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  80%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes bottomsand {
  0% {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  80%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
  body.loaded .loader {
    display: none; }

html,
body {
  min-height: 100%;
  font-family: "Founders Grotesk", sans-serif;
  margin: 0;
  background-color: #1d3557;
  color: #f1faee; }

nav {
  height: 3.125rem; }
  nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px; }
    nav ul a {
      text-decoration: none;
      padding-left: 2rem;
      color: #f1faee;
      text-transform: uppercase;
      font-size: 1rem; }

.hero {
  min-height: 60vh;
  margin: 0;
  padding: 40px;
  background-image: url("../img/index/hero.svg");
  background-size: contain;
  background-repeat: no-repeat; }

.project {
  display: block;
  position: relative;
  width: 100%;
  border-top: 1px solid #ebebeb; }
  .project .arrow {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) rotate(0);
    stroke: #f1faee; }
  .project-heading {
    position: relative;
    width: 100%;
    padding: 40px 40px 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    background-color: #457b9d; }
    .project-heading:before {
      content: "";
      background-color: #fff;
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: width 0.3s; }
    .vans .project-heading:before {
      background-color: #c52e28 !important; }
    .estrella .project-heading:before {
      background-color: #a8dadc; }
    .nomad .project-heading:before {
      background-color: #f1faee; }
    .project-heading .serial {
      margin: 0 5rem 0 0;
      position: relative;
      left: 0.6rem;
      font-family: "Founders Grotesk Light";
      font-size: 1.2rem;
      width: min-content;
      overflow-wrap: break-word;
      letter-spacing: 1px;
      line-height: 1;
      color: #f1faee;
      text-transform: uppercase;
      opacity: 1;
      transition: transform 0.3s ease; }
    .project-heading .title {
      position: relative;
      margin: 0;
      font-family: "Founders Grotesk Light";
      font-size: 3rem;
      letter-spacing: 1px;
      line-height: 1;
      color: #f1faee;
      text-transform: uppercase;
      opacity: 1;
      transition: transform 0.3s ease; }
    .project-heading .arrow {
      position: absolute;
      top: 47%;
      right: 40px;
      margin: -16px 0 0;
      width: 41px;
      will-change: transform;
      transform: translateZ(0) rotate(0);
      transform-origin: 50% 51%;
      backface-visibility: hidden;
      transition: transform 0.3s ease; }
  .project-marquee {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    padding: 1rem 3rem;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background-color: #457b9d; }
    .project-marquee:before {
      content: "";
      background-color: #fff;
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: width 0.3s; }
    .vans .project-marquee:before {
      background-color: #c52e28 !important; }
    .estrella .project-marquee:before {
      background-color: #a8dadc; }
    .nomad .project-marquee:before {
      background-color: #f1faee; }
    .project-marquee .text-container {
      display: inline-block;
      position: relative;
      font-family: "Founders Grotesk";
      color: #f1faee;
      line-height: 1;
      white-space: nowrap;
      font-size: 1.5rem;
      text-transform: uppercase;
      transition: transform 0.3s ease; }
      .project-marquee .text-container .text-bold {
        font-weight: bold; }
      .project-marquee .text-container .text-divider {
        padding-left: 5px; }
        .project-marquee .text-container .text-divider:before {
          content: "•"; }
  .project-carousel {
    position: relative; }
    .project-carousel .track {
      width: fit-content;
      display: flex;
      position: relative;
      transform: translate3d(calc(-25% + 20vw), 0, 0);
      animation: marquee 20s linear infinite;
      opacity: 1;
      height: 24rem; }
      .project-carousel .track video {
        height: 100%; }
    .project-carousel:before {
      content: "";
      background-color: #fff;
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: opacity 0.3s;
      z-index: 1;
      opacity: 0.5; }
    .vans .project-carousel:before {
      background-color: #c52e28 !important; }
    .estrella .project-carousel:before {
      background-color: #a8dadc; }
    .nomad .project-carousel:before {
      background-color: #f1faee; }
  .project .link {
    text-decoration: none; }
    .project .link:hover .project-heading:before {
      width: 100%; }
    .project .link:hover .project-heading .serial {
      transform: translateX(15px); }
    .project .link:hover .project-heading .title {
      transform: translateX(15px); }
    .project .link:hover .project-marquee:before {
      width: 100%; }
    .project .link:hover .project-marquee .text-container {
      transform: translateX(15px); }
    .project .link:hover .project-carousel:before {
      width: 100%; }
    .project .link:hover .arrow {
      position: absolute;
      top: 47%;
      right: 40px;
      margin: -16px 0 0;
      width: 41px;
      will-change: transform;
      transform-origin: 50% 51%;
      backface-visibility: hidden;
      transform: rotate(45deg); }
  .project.estrella .link:hover .serial,
  .project.estrella .link:hover .title,
  .project.estrella .link:hover .text-container {
    color: #1d3557; }
  .project.estrella .link:hover .project-marquee {
    border-color: #1d3557; }
  .project.estrella .link:hover .arrow {
    stroke: #1d3557; }
  .project.estrella:hover {
    border-color: #1d3557; }
  .project.nomad .link:hover .serial,
  .project.nomad .link:hover .title,
  .project.nomad .link:hover .text-container {
    color: #1d3557; }
  .project.nomad .link:hover .project-marquee {
    border-color: #1d3557; }
  .project.nomad .link:hover .arrow {
    stroke: #1d3557; }
  .project.nomad:hover {
    border-color: #1d3557; }

.cursor {
  position: fixed;
  width: 600px;
  height: 400px;
  top: 0;
  left: 0;
  margin: -100px 0 0 -100px;
  background: url(https://i.pinimg.com/564x/85/24/d7/8524d785a8427617d475bf02d51710fc.jpg) no-repeat 50% 50%;
  background-size: cover;
  z-index: 1;
  transform: scale(0); }

.experience {
  display: flex;
  flex-direction: column; }
  .experience-heading {
    font-family: "Integral Regular";
    font-size: 3rem;
    padding: 40px;
    line-height: 1;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; }
  .experience-row {
    font-family: "Founders Grotesk Light";
    font-size: 65px;
    padding: 30px 40px 15px;
    line-height: 1;
    display: flex;
    border-bottom: 1px solid #ebebeb;
    color: inherit;
    z-index: 2;
    text-decoration: none;
    position: relative; }
    .experience-row .time,
    .experience-row .name {
      flex: 1;
      font-family: "Founders Grotesk Light", sans-serif;
      font-size: 3rem;
      font-variation-settings: "wght" 200;
      transition: all 0.32s ease; }
    .experience-row:hover .time,
    .experience-row:hover .name {
      font-family: "Founders Grotesk Italics", sans-serif;
      font-variation-settings: "wght" 400; }

.footer {
  margin-top: 15rem;
  display: flex;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb; }
  .footer .track {
    width: fit-content;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: footer-marquee 50s linear infinite; }
  .footer .logo {
    padding: 2rem;
    text-align: center;
    vertical-align: center; }
    .footer .logo img {
      width: 80%; }
  .footer .about {
    font-family: "Integral Regular";
    padding: 2rem;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 1;
    flex: 1;
    display: flex;
    align-items: center;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase; }
  .footer .contact {
    font-family: "Integral Regular";
    padding: 2rem;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 1;
    flex: 1;
    display: flex;
    align-items: center;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase; }
  .footer .scroll-top {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
    width: 9.25rem; }
    .footer .scroll-top .arrow-top {
      width: 41px;
      backface-visibility: hidden;
      transform: rotate(-45deg);
      stroke: #f1faee; }

@keyframes marquee {
  0% {
    transform: translate3d(calc(-25% + 20vw), 0, 0); }
  100% {
    transform: translate3d(calc(-50% + 20vw), 0, 0); } }

@keyframes footer-marquee {
  0% {
    text-indent: 27.5em; }
  100% {
    text-indent: -105em; } }

@keyframes swipe {
  to {
    width: 100%; } }

.pointer {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  --size-small: 25px;
  --size-large: 70px; }
  .pointer-outer {
    border: 2px solid #f1faee;
    z-index: 12000;
    opacity: 0.25;
    width: var(--size-small);
    height: var(--size-small);
    transition: width 0.3s, height 0.3s, margin 0.3s, opacity 0.3s, border-width 0.3s; }
    .pointer-outer.is-hover {
      border-width: 2px;
      width: var(--size-large);
      height: var(--size-large);
      margin-top: calc((var(--size-large) - var(--size-small)) / 2 * -1);
      margin-left: calc((var(--size-large) - var(--size-small)) / 2 * -1);
      opacity: 0.35; }
  .pointer-inner {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    z-index: 11000;
    background: #f1faee;
    opacity: 1;
    transition: width 0.3s, height 0.3s, left 0.3s, top 0.3s, opacity 0.3s; }
    .pointer-inner.is-hover {
      opacity: 0.35; }
    body:not(.cursor-hidden) .pointer-inner {
      visibility: hidden; }

/* For tablets: */
/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .hero {
    min-height: 20vh;
    padding: 1rem;
    flex-direction: column; }
  .project-heading {
    padding: 1.2rem 1rem 0.8rem 1rem;
    flex-direction: column;
    align-items: flex-start; }
    .project-heading .serial {
      overflow-wrap: normal;
      left: 0;
      width: 100%;
      font-size: 0.8rem;
      margin-bottom: 1rem; }
    .project-heading .title {
      font-size: 1.4rem; }
    .project-heading .arrow {
      width: 1.8rem;
      top: 50%;
      right: 1rem;
      margin: -11px 0 0; }
  .project-marquee {
    padding: 1rem; }
    .project-marquee .text-container {
      font-size: 1rem;
      white-space: initial; }
  .project-carousel {
    position: relative; }
    .project-carousel .track {
      height: 18rem; }
  .experience-heading {
    font-size: 1.4rem;
    padding: 2rem 1rem; }
  .experience-row {
    padding: 2rem 1rem; }
    .experience-row .time,
    .experience-row .name {
      font-size: 1.2rem; }
  .footer .track {
    width: fit-content;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: footer-marquee 50s linear infinite; }
  .footer .logo {
    display: none; }
  .footer .about {
    padding: 1rem;
    font-size: 1rem; }
  .footer .contact {
    padding: 1rem;
    font-size: 1rem; }
  .footer .scroll-top {
    display: none; } }

.case-study {
  background-color: #c52e28;
  /******* Estrella case study ********/
  /******* Nomad case study ********/
  /* For mobile phones: */ }
  .case-study .hero {
    min-height: initial;
    align-items: center;
    justify-content: flex-start; }
    .case-study .hero .left-arrow {
      width: 10rem;
      height: 10rem;
      backface-visibility: hidden;
      fill: #f1faee;
      transition: transform 0.3s ease; }
      .case-study .hero .left-arrow:hover {
        transform: rotate(-45deg); }
    .case-study .hero .title {
      font-size: 4rem; }
    .case-study .hero .timeline {
      margin-left: auto; }
  .case-study .video {
    background-color: #e63946;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative; }
    .case-study .video iframe {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
  .case-study .brief {
    padding: 40px; }
    .case-study .brief .heading {
      margin-top: 0;
      margin-bottom: 2rem;
      font-family: "Integral Regular";
      text-transform: uppercase;
      font-size: 2.2rem; }
    .case-study .brief .content {
      display: flex; }
      .case-study .brief .content .summary {
        font-family: "Founders Grotesk Light";
        margin: 0 100px 0 0;
        font-size: 1.7rem;
        text-align: justify;
        flex: 2; }
      .case-study .brief .content .img {
        flex: 1;
        text-align: center; }
        .case-study .brief .content .img img {
          width: 200px; }
  .case-study .process {
    padding: 40px; }
    .case-study .process .heading {
      margin-top: 0;
      margin-bottom: 2rem;
      font-family: "Integral Regular";
      text-transform: uppercase;
      font-size: 2.2rem; }
    .case-study .process .content {
      display: flex;
      justify-content: space-around; }
      .case-study .process .content figure {
        text-align: center;
        padding-right: 2rem;
        padding-top: 2rem; }
        .case-study .process .content figure img {
          width: 5rem;
          height: 5rem;
          margin-bottom: 10px; }
        .case-study .process .content figure figcaption {
          font-size: 1.2rem;
          line-height: 1; }
  .case-study .solution {
    padding: 40px; }
    .case-study .solution .heading {
      margin-top: 0;
      margin-bottom: 2rem;
      font-family: "Integral Regular";
      text-transform: uppercase;
      font-size: 2.2rem; }
    .case-study .solution .content {
      display: flex; }
      .case-study .solution .content .summary {
        font-family: "Founders Grotesk Light";
        text-align: justify;
        margin: 0 100px 0 0;
        font-size: 30px;
        flex: 2; }
      .case-study .solution .content .img {
        flex: 1;
        text-align: center; }
        .case-study .solution .content .img img {
          width: 300px; }
  .case-study .code {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e63946; }
  .case-study .team {
    padding: 40px; }
    .case-study .team .heading {
      margin-top: 0;
      margin-bottom: 2rem;
      font-family: "Integral Regular";
      text-transform: uppercase;
      font-size: 2.2rem; }
    .case-study .team .content {
      display: flex;
      justify-content: space-around; }
      .case-study .team .content figure {
        text-align: center;
        padding-right: 2rem;
        padding-top: 2rem; }
        .case-study .team .content figure img {
          width: 15rem;
          height: 15rem;
          margin-bottom: 10px; }
        .case-study .team .content figure figcaption {
          text-align: left;
          text-transform: uppercase; }
          .case-study .team .content figure figcaption .name {
            font-family: "Integral Regular";
            font-size: 1.4rem;
            margin-bottom: 5px; }
          .case-study .team .content figure figcaption .designation {
            font-size: 1.2rem; }
  .case-study .footer {
    margin-top: 0; }
    .case-study .footer .contact {
      font-family: "Founders Grotesk Light";
      font-size: 3rem;
      justify-content: center;
      border: none; }
  .case-study.estrella {
    background-color: #a8dadc; }
    .case-study.estrella .hero .left-arrow {
      fill: #1d3557; }
    .case-study.estrella .hero .title {
      color: #1d3557; }
    .case-study.estrella .hero .timeline {
      color: #1d3557; }
    .case-study.estrella .video {
      background-color: #a8dadc; }
    .case-study.estrella .brief {
      color: #1d3557; }
      .case-study.estrella .brief .img {
        flex: 1;
        text-align: center; }
        .case-study.estrella .brief .img img {
          width: 300px; }
    .case-study.estrella .process {
      color: #1d3557; }
    .case-study.estrella .solution {
      color: #1d3557; }
    .case-study.estrella .code {
      background-color: #1d3557; }
    .case-study.estrella .team {
      color: #1d3557; }
      .case-study.estrella .team .content {
        justify-content: end; }
    .case-study.estrella .footer {
      color: #1d3557; }
  .case-study.nomad {
    background-color: #f1faee; }
    .case-study.nomad .hero .left-arrow {
      fill: #1d3557; }
    .case-study.nomad .hero .title {
      color: #1d3557; }
    .case-study.nomad .hero .timeline {
      color: #1d3557; }
    .case-study.nomad .video {
      background-color: #a8dadc; }
    .case-study.nomad .brief {
      color: #1d3557; }
      .case-study.nomad .brief .img {
        flex: 1;
        text-align: center; }
        .case-study.nomad .brief .img img {
          width: 300px; }
    .case-study.nomad .process {
      color: #1d3557; }
    .case-study.nomad .solution {
      color: #1d3557; }
      .case-study.nomad .solution .img {
        flex: 1;
        text-align: center; }
        .case-study.nomad .solution .img img {
          width: 200px; }
    .case-study.nomad .code {
      background-color: #1d3557; }
    .case-study.nomad .team {
      color: #1d3557; }
    .case-study.nomad .footer {
      color: #1d3557; }
  @media only screen and (max-width: 768px) {
    .case-study .hero {
      min-height: 20vh;
      padding: 1rem;
      flex-direction: column;
      align-items: flex-start; }
      .case-study .hero .left-arrow {
        width: 4rem;
        height: 4rem;
        transform: rotate(-45deg);
        position: initial; }
      .case-study .hero .title {
        font-size: 2rem;
        margin-bottom: 1rem; }
      .case-study .hero .timeline {
        font-size: 1rem;
        margin: 0; }
    .case-study .brief {
      padding: 1rem; }
      .case-study .brief .heading {
        font-size: 2rem; }
      .case-study .brief .content {
        flex-direction: column-reverse; }
        .case-study .brief .content .summary {
          margin: 0;
          font-size: 1.2rem; }
        .case-study .brief .content .img img {
          width: 150px; }
    .case-study .process {
      padding: 1rem; }
      .case-study .process .heading {
        font-size: 2rem; }
      .case-study .process .content {
        overflow-x: auto;
        justify-content: flex-start; }
    .case-study .solution {
      padding: 1rem; }
      .case-study .solution .heading {
        font-size: 2rem; }
      .case-study .solution .content {
        flex-direction: column-reverse; }
        .case-study .solution .content .summary {
          margin: 0;
          font-size: 1.2rem; }
        .case-study .solution .content .img img {
          width: 150px; }
    .case-study .team {
      padding: 1rem; }
      .case-study .team .heading {
        font-size: 2rem; }
      .case-study .team .content {
        overflow-x: auto;
        justify-content: flex-start; }
    .case-study .footer .contact {
      padding: 1.4rem 0 1rem 0;
      font-size: 1.4rem; } }
